.toggle-switch {
  position: relative;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 28px;
  background-color: #fff;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle-switch:hover {
  border: 2px solid #000;
  transition: all 0.25s;
}

.toggle-switch__checkbox {
  opacity: 0;
  cursor: pointer;
}

.toggle-switch__checkbox:checked + .toggle-switch {
  border: 2px solid #000;
  transition: all 0.25s;
}

.toggle-switch__bubble {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 20px;
  transition: all 0.25s;
  z-index: 0;
}

.toggle-switch__text {
  position: absolute;
  top: 7px;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1;
  z-index: 3;
}

.toggle-switch__text_f {
  left: 9px;
}

.toggle-switch__text_c {
  right: 8px;
}

.toggle-switch:hover
  .toggle-switch__checkbox:not(:checked)
  ~ .toggle-switch__bubble {
  width: 30px;
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__bubble {
  width: 30px;
  left: 24px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__bubble {
  left: 26px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_c {
  color: #fff;
  transition: all 0.25s;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_f {
  color: #fff;
  transition: all 0.25s;
}
