.profile {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 116px;
}
