.item-card {
  position: relative;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 1.2;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  border-radius: 19px;
}

.item-card__image {
  width: 323px;
  border-radius: 19px;
  object-fit: contain;
  cursor: pointer;
}

.item-card__name {
  position: absolute;
  top: 16px;
  margin: 0;
  padding: 4px 24px;
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}
