.modal__content_type_delete {
  max-width: 670px;
  padding: 51px 151px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title_type_delete {
  font-size: 20px;
  text-align: center;
  min-width: 366px;
  margin-bottom: 40px;
}

.modal__form_type_delete {
  font-size: 20px;
}

.modal__submit-btn_type_delete {
  border: none;
  background: none;
  color: #ff4d00;
  cursor: pointer;
}

.modal__cancel-btn {
  border: none;
  background: none;
  cursor: pointer;
}
