.header {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 28px;
  margin: 0;
  list-style-type: none;
}

.header__logo {
  height: 40px;
  width: 89px;
}

.header__logo-and-data {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
}

.header__buttons-and-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-btn {
  margin: 0;
  padding: 0;
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
