.modal__content_type_preview {
  max-width: 498px;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

.modal__close-btn_type_preview {
  background: url("../../images/close-icon-white.svg") no-repeat center;
}

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: contain;
}

.modal__footer {
  font-size: 20px;
  line-height: 1.2;
  padding: 20px 32px 32px;
  display: flex;
  justify-content: space-between;
}

.modal__footer-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.modal__weather {
  margin: 0;
}

.modal__delete-btn {
  color: #ff4d00;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
}
