.profile__clothes-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0 16px;
}

.profile__text {
  margin: 0;
}

.profile__add-btn {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background: none;
  line-height: 1;
}

.profile__add-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.profile__cards {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 323px);
  grid-template-rows: repeat(auto-fill, 326px);
  justify-content: center;
  gap: 20px;
  max-width: 1015px;
}
